

/*  Search bar */

/* Current weather */
/*
div {
  border: 5px solid red;
}*/
body{
  margin: 0;
  padding: 0;
}
#app {
  max-height: 100vh;
  max-width: 100vw;
  background-color: #9CCEF4;
  font-family: "Raleway", sans-serif;
}



/* Current weather */
/*.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}*/
/*.details{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  justify-content: space-between;
}

.images{
  list-style: none;
  display: flex;
  width:100% ;
  justify-content: space-between;
}
.temperatures{
  list-style: none;
  display: flex;
  width:100% ;
  justify-content: space-between;
}
.times{
  list-style: none;
  display: flex;
  width:100% ;
  justify-content: space-between;

}
/*.info{
  list-style: none;
  display: flex;
  width:100% ;
  justify-content: center;

}

.info > p{

margin: 10px;
margin-bottom: 5%;

}
.info >p:nth-child(1) {
  font-weight: bold;
}
.info >p:nth-child(3) {
  font-weight: bold;
}
span{
  font-weight: bold;
}*/
/*.content >p{
  color: white;
  font-weight: bold;
  margin-bottom: 2%;
}*/
/*.temperature-today{
  margin-bottom: 2%;

}*/
/* Mobile View */
@media only screen and (max-width: 600px){
  .images, .info, .times,.details,.temperatures{
    max-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}